---
---

@import "{{ site.theme }}";

html {
  height: 100%;
}

body {
  background: url("../images/checker.png") fixed;
  min-height: calc(100% - 100px);
}

.wrapper {
  width: 740px;
}

header {
  height: 150px;
  p{
    width: 500px;
  }
}

img.bothan {
  height: 150px;
  float: left;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  margin-right: 20px;
}
