---
---

@import "{{ site.theme }}";

html {
  height: 100%;
}

body {
  background: url("../images/checker.png") fixed;
  min-height: calc(100% - 100px);
}

.wrapper {
  width: 740px;
}

header {
  height: 150px;
  h1{
    font-size: 38px;
  }
  p{
    width: 700px;
    font-size: 17px;
  }
  ul {
    a:hover {
      strong {
        color: #025;
      }
    }
  }
}

img.bothan {
  height: 150px;
  float: left;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  margin-right: 20px;
}

a:hover{
  color: #025;
}
